@font-face {
  font-family: "iconfont"; /* Project id 2921068 */
  src: url('iconfont.woff2?t=1636299844491') format('woff2'),
       url('iconfont.woff?t=1636299844491') format('woff'),
       url('iconfont.ttf?t=1636299844491') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e660";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gou:before {
  content: "\e603";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

